[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
coveralls = "*"
mock = "*"
nose = "*"
peewee = "*"
pyfakefs = "*"
pyqt5 = "*"
rednose = "*"
sure = "*"
comtypes = { version = "*", platform_system = "== 'Windows'" }
click = "*"
asana = {git = "git://github.com/codito/asana.git", editable = true, ref = "python3"}
"cx-freeze" = "*"
pyqtkeybind = {git = "git://github.com/codito/pyqtkeybind.git", editable = true, ref = "master"}

[dev-packages]
flake8 = "*"
jedi = { version = "*", platform_system = "== 'Linux'" }
pudb = { version = "*", platform_system = "== 'Linux'" }
pydocstyle = "*"
nose-pudb = { version = "*", platform_system = "== 'Linux'" }
nose-watcher = { version = "*", platform_system = "== 'Linux'" }

[requires]
python_version = "3.6"
