[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

blinker = "*"
peewee = "*"
"pyqt5" = "*"
comtypes = "==1.1.3post2"
click = "*"
asana = { git = "git://github.com/codito/asana.git", editable = true, ref = "python3" }
pyqtkeybind = {git = "git://github.com/codito/pyqtkeybind.git", editable = true, ref = "master"}


[dev-packages]

coveralls = "*"
cx-freeze = "*"
"flake8" = "*"
mock = "*"
nose = "*"
nose-pudb = "*"
nose-watch = "*"
pudb = "*"
pydocstyle = "*"
pyfakefs = "*"
rednose = "*"
sure = "*"


[requires]

python_version = "3.6"