[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"e1839a8" = {path = ".", editable = true}
asana = { git = "git://github.com/codito/asana.git", editable = true, ref = "python3" }
pyqtkeybind = {git = "git://github.com/codito/pyqtkeybind.git", editable = true, ref = "master"}


[dev-packages]

coveralls = "*"
cx-freeze = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
mkdocs = "*"
mkdocs-material = "*"
pyfakefs = "*"
pytest = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
